@font-face {
    font-family: "Nunito", sans-serif;
    src: url(/myapp/static/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    }
    
    @font-face {
    font-family: "Inconsolata", sans-serif;
    src: url(/myapp/static/fonts/Inconsolata[wdth\,wght].ttf);
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }